.tabelaLinguagens{
    width: 100%;
    text-align: center;
    border-spacing:0;

    &__header{
        background-color: #474040;
        color: #fff;

    }

    &__linha__item{
        padding:  10px 0;
        border-bottom: solid 1px #0000003f;
        box-sizing: border-box;

        &__acoes{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &__icone{
                transition: 0.5s;
                color: #474040;
                cursor: pointer;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}