.header {
    display: flex;
    align-items: center;
    background-color: #474040;
    padding: 25px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;

            img {
                width: 3.5rem;
                transition: all 0.5s;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;

            &__itens {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                &__item {
                    margin: 0 5px;

                    &__link {

                        color: #fff;
                        text-decoration: none;
                        transition: color 0.5s;


                        &:hover {
                            color: #ffffff6c;
                        }


                        &--ativo {
                            font-weight: bold;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }

            }
        }
    }

}